<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1,initial-scale=1">
	<script src= "https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css" />
	<style type="text/css">
		.terminal,
		span {
			--size: 1.0;
		}

		.upload {
			width: 400px;
			box-shadow: 1px 2px 1px 1px black;
			position: fixed;
			top: 120px;
			z-index: 999999999999999999;
			background: #fff;
			padding: 10px;
			text-align: center;
			left: 400px;
			border-radius: 10px;
			display: none;
		}

		.cancel {
			float: right !important;
			cursor: pointer;
		}

		.submit {
			margin: 20px;
		}

		input {
			width: 90%;
			height: 30px;
		}

		.alert {
			color: red;
		}
	</style>
</head>

<body>
	<template id="greetings">
										 ______     ______     __    __     ______     ______     __     ______   ______     __   __    
										/\  ___\   /\  __ \   /\ "-./  \   /\  __ \   /\  == \   /\ \   /\__  _\ /\  __ \   /\ "-.\ \   
										\ \___  \  \ \  __ \  \ \ \-./\ \  \ \  __ \  \ \  __<   \ \ \  \/_/\ \/ \ \  __ \  \ \ \-.  \  
										 \/\_____\  \ \_\ \_\  \ \_\ \ \_\  \ \_\ \_\  \ \_\ \_\  \ \_\    \ \_\  \ \_\ \_\  \ \_\\"\_\ 
										  \/_____/   \/_/\/_/   \/_/  \/_/   \/_/\/_/   \/_/ /_/   \/_/     \/_/   \/_/\/_/   \/_/ \/_/ 

												  A Digital Identity Solution. To begin, enter "start"; For help, enter "help"
																												
	   </template>
<!-- 
	   <div class="game">
			<h3>A simple superhero naming app</h3>
			<p>Check which superhero you are.</p>
			<button>Display my hero-self</button>
	   </div> -->

	   	<div class="upload">
			<small><a class="cancel">cancel</a></small>
			<h3>Upload an App to the Samaritan Ability Pool</h3>
			<p class="alert"></p>
			<p>Sign your app to be validated by the network and approved into the Ability Pool for download</p>
			<form>
				<input type="text" placeholder="Name of app" class="app_name">
				<hr>
				<span><b>What details do you need access to?</b></span> 
				<input type="text" placeholder="name, age, d-o-b"  class="access">
				<hr>
				<input type="file" class="file">
				<hr><br>
				<button class="submit" onclick="return false">Submit to network</button>
			</form>
   		</div>

		<script src="js/cmd.js"></script>
		<script>
			let up = document.querySelector(".upload");

			var get_sdata = () => {
				// get samaritan deep data
				var sam = JSON.parse(localStorage["samaritan"]);

				// first check if data is string or parsed
				if (typeof sam.data == "string") 
					return JSON.parse(sam.data);
				else	
					return sam.data;
			}

			document.body.addEventListener("click", (e) => {
				switch (e.target.className) {
					case "cancel": {
						up.style.display = "none";
						break;
					}

					case "submit":  {
						var file = document.querySelector('input[type=file]').files[0];
						var reader = new FileReader();

						reader.addEventListener('load', (e) => {
							let data = new FormData();
							const blob = new Blob([new Uint8Array(e.target.result)], { type: file.type });

							data.append("app_name", document.querySelector(".app_name").value);
							data.append("access", document.querySelector(".access").value);
							data.append("address", get_sdata().addr);
							data.append("file", blob);

							console.log(data);

							// upload to server
							fetch ("/upload_app", {
								method: 'post',
								body: data
							})
							.then(res => {
								(async function () {
									await res.json().then(res => {
										let error = JSON.parse(res).error;
										let msg = JSON.parse(res).msg;

										if (error == "true") {

										} else {
											document.querySelector(".alert").innerText = msg;
										}
									});
								})();  
							});
						});

						reader.readAsArrayBuffer(file);
					}
				}
			})
		</script>

</body>

</html>

